ENABLED={{ mdraid_is_enabled }}
CHECK={{ mdraid_check_type }}
NICE=low
CHECK_DEVS={{ mdraid_check_devs }}
REPAIR_DEVS={{ mdraid_repair_devs }}
SKIP_DEVS={{ mdraid_skip_devs }}
MAXCONCURRENT={{ mdraid_max_concurrent }}

