{{ iptables_v4_custom_table_setup }}

*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

-A INPUT -i lo -j ACCEPT

# DEFAULT ACCEPTS
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

# REMOVE INVALID FLAGS COMBINATIONS
-A INPUT -m conntrack --ctstate INVALID -j DROP

## WHITELISTING - first accept all what was specified to be accepted

# DEFAULT ACCEPT ALL LOCAL SSH - MANAGEMENT
-A INPUT -m tcp -p tcp -m multiport --dports 22,60000 -j ACCEPT --source 85.120.46.0/24,46.243.114.128/25

# ACCEPTS ALLOWED IPs && NETWORKS
-A INPUT -m set --match-set accept_net src -j ACCEPT
-A INPUT -m set --match-set accept_ip  src -j ACCEPT

# ACCEPTS ALLOWED IPs && NETWORKS TO PORT
-A INPUT -m set --match-set accept_port_net src,dst -j ACCEPT
-A INPUT -m set --match-set accept_port_ip  src,dst -j ACCEPT

## BLACKLISTING

# FAIL2BAN
-A INPUT -m set --match-set f2b-sshd src -j DROP

# BLACKLISTING REQUESTED
-A INPUT -m set --match-set blacklist_net src -j DROP
-A INPUT -m set --match-set blacklist_ip  src -j DROP

# ACCEPT WORLDWIDE on PORTS
-A INPUT -m tcp -p tcp -m set --match-set accept_port_tcp dst -j ACCEPT
-A INPUT -m udp -p udp -m set --match-set accept_port_udp dst -j ACCEPT

# ACCEPT ALL ICMP
-A INPUT -p icmp -j ACCEPT

{{ ip_v4_filter_custom_rule_after_ipsets }}

# DROP EVERYTHING ELSE
-A INPUT -j DROP
-A FORWARD -j DROP
COMMIT
